:root {
    --primary-color: #eeebe4;
    --secondary-color: #D5927F;
    --secondary-color-dark: #CF5B3A;
    --text-color-white: white;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(/img/pattern.png);
}

/*general*/
main {
    max-width: 1200px;
    margin: auto;
}

h1,
h2,
h3 {
    color: var(--secondary-color);
    font-family: 'Amatic SC', cursive;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

/* header */

header {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 32px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
}

.bg-dark {
    background-color: var(--secondary-color-dark);
    color: var(--text-color-white);
}

.menu,
.submenu {
    list-style-type: none;
}

.item {
    padding: 10px;
}

header li a:hover {
    color: var(--secondary-color-dark);
    cursor: pointer;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}

.menu li.subitem a {
    padding: 15px;
}

.toggle {
    order: 1;
    margin: auto;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}

/* Sous menu */
.submenu {
    display: none;
}

.submenu-active .submenu {
    display: block;
}

.has-submenu>a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    content: "\f078";
    color: var(--secondary-color);
    padding-left: 5px;
}

.subitem a {
    padding: 10px 15px;
}

.submenu-active {
    background-color: var(--primary-color);
}

/* Tablet menu */
@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }

    /* Desktop menu */
    @media all and (min-width: 960px) {
        .menu {
            align-items: flex-start;
            flex-wrap: nowrap;
            background: none;
        }

        .item {
            position: relative;
            display: block;
            width: auto;
        }

        .submenu-active .submenu {
            width: 100%;
            display: block;
            position: absolute;
            left: 0;
            top: 68px;
            background: var(--primary-color);
        }

        .toggle {
            display: none;
        }

        .submenu-active {
            border-radius: 0;
        }
    }
}

/*footer*/

footer {
    text-align: center;
    background-color: var(--primary-color);
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

@media screen and (max-width: 960px) {
    footer nav {
        display: none;
    }

    .hidden {
        display: none;
    }
}

@media screen and (min-width: 961px) {
    .contain {
        max-width: 1200px;
        margin: auto;
    }

    footer div {
        display: flex;
        justify-content: space-between;
    }

    footer div div {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer nav {
        margin-top: 10px;
    }

    footer nav a {
        text-decoration: none;
        color: var(--secondary-color);
        opacity: 0.6;
    }

    footer nav a:hover {
        opacity: 1;
        color: var(--secondary-color-dark);
    }
}