* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*général*/

main {
    text-align: center;
    background-color: var(--primary-color);
    padding-bottom: 10%;
}

h1,
h2,
h3 {
    color: var(--secondary-color);
    font-family: 'Amatic SC', cursive;
}

h1 {
    font-size: 48px;
    padding: 8% 0;
}

h2 {
    font-size: 40px;
    margin: 8% 0;
}

h3 {
    font-size: 24px;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    padding-bottom: 10%;
}
.mx-text {
    margin: 0 10%;
}
main a {
    text-decoration: none;
    color: #262524;
    width: min-content;
}
/*tuto*/

main section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
main section div div {
    margin: 3% 0;
    width: fit-content;
    text-align: left;
    display: flex;
    flex-direction: column;
}
main section div div p {
    margin: 2% 3%;
}
main section div div p::after {
    content: " lire la suite";
    color: var(--secondary-color-dark);
}
/*sticky*/

/*origin
https://gomakethings.com/how-to-create-a-sticky-navigation-with-only-css/
*/

/* Sticky navigation*/
.sticky {
	position: sticky;
	top: 0;
    background-color: var(--secondary-color);
    padding: 15px 0;
}

/**
 * Display lists on a single line.
 * @bugfix Prevent webkit from removing list semantics
 * 1. Add a non-breaking space
 * 2. Make sure it doesn't mess up the DOM flow
 */
.list-inline {
	list-style: none;
	margin-left: -0.5em;
	margin-right: -0.5em;
	padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.list-inline > li:before {
	content: "\200B"; /* 1 */
	position: absolute; /* 2 */
}
.list-inline a {
    text-decoration: none;
    color: var(--text-color-white);
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
}
html {
    scroll-behavior: smooth;
}