/*général*/

.mx-text {
    margin: 0 10%;
}

.fond_rose {
    background-color: #D998DA;
}

.fond_jaune {
    background-color: #DFC66D;
}

.fond_bleu {
    background-color: #85AEEC;
}

main {
    background-color: var(--primary-color);
    padding-bottom: 15%;
    text-align: center;
}

p,
main a {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h1 {
    padding: 8% 0;
}

h2 {
    margin: 10% 0;
}

/*planning*/

th,
td {
    border: 1px solid var(--secondary-color);
    width: 12.5%;
    height: 16px;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 200px;
    background-color: rgba(213, 146, 127, 0.5);
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

tfoot {
    font-style: italic;
}

/*link*/

section:nth-of-type(2) div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main a {
    background-color: var(--secondary-color);
    color: var(--text-color-white);
    text-decoration: none;
    width: 20%;
    padding: 5px 0;
    box-shadow: 5px 5px 5px var(--secondary-color);
}

main a:hover {
    background-color: var(--secondary-color-dark);
    font-weight: bold;
}

article {
    height: 220px;
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
}

@media screen and (min-width: 600px) {

    table {
        height: 250px;
    }
}

@media screen and (min-width: 810px) {

    table {
        height: 300px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1000px) {
    main {
        padding-bottom: 10%;

    }

    table {
        height: 400px;
        width: 94%;
        margin: auto;
    }
}