* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*général*/

main {
    text-align: center;
    background-color: var(--primary-color);
}

h1,
h2,
h3 {
    color: var(--secondary-color);
    font-family: 'Amatic SC', cursive;
}

h1 {
    font-size: 48px;
    padding: 8% 0;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

.mx-text {
    margin: 10% 10%;
}

.mx-bio {
    margin: 0 20%;
    text-align: center;
}

article {
    margin: 8% 0;
}

/*membres fondateurs*/

#fondateur div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#fondateur article {
    width: 390px;
}

/*membres actifs*/

#members {
    padding: 15% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



@media screen and (min-width: 840px) {

    #members {
        margin: 0 5% 0 5%;
        padding-top: 10%;
    }

    #members div {
        padding: 0 3% 0 3%;
    }
}

@media screen and (min-width: 1000px) {

    article {
        margin: 5% 0;
    }

    .mx-text {
        margin: 10% 15%;
    }

    #members {
        padding-top: 10%;
    }

    #members div {
        padding: 0 4% 0 4%;
    }
}