* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*général*/

main {
    text-align: center;
    background-color: var(--primary-color);
}

h1,
h2,
h3 {
    color: var(--secondary-color);
    font-family: 'Amatic SC', cursive;
}

h1 {
    font-size: 48px;
    padding: 8% 0;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

.mx-text {
    margin: 10% 10%;
}

.mx-bio {
    margin: 0 20%;
    text-align: center;
}

article {
    margin: 8% 0;
}

/*membres fondateurs*/

#fondateur div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#fondateur article {
    width: 390px;
}

/*membres actifs*/

section:last-of-type>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#members {
    padding: 15% 0;
}

#members div {
    padding-bottom: 5%;
}