* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*général*/

main {
    text-align: center;
    background-color: var(--primary-color);
}

h1,
h2,
h3 {
    color: var(--secondary-color);
    font-family: 'Amatic SC', cursive;
}

h1 {
    font-size: 48px;
    margin: 5% 0;
}

h2 {
    font-size: 36px;
    margin: 8% 0;
}

h3 {
    font-size: 32px;
}

p,
main a {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.mx-text {
    margin: 0 10%;
}

section>img {
    width: 100%;
}

/*link vers contact*/
@media screen and (min-width:690px) {
    h1 {
        margin: 0;
    }
    #section-presentation article div p {
        margin-top: 0;
    }
}

#section-presentation article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section-presentation article div p {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-align: center;
    margin-top: 3%;
}

#section-presentation article div a {
    font-family: 'Amatic SC', cursive;
}

@media screen and (min-width: 690px) {
    #section-presentation {
        display: flex;
        flex-direction: row-reverse;
        padding-top: 5%;
    }

    #section-presentation div {
        margin: 0;
    }
    #section-presentation img {
        width: 50vw;
    }
}

/*section-news*/

@media screen and (min-width: 690px) {
    section:nth-of-type(2) div {
        display: flex;
        justify-content: space-evenly;
        width: 85%;
        margin: auto;
    }
    .news {
        text-align: left;
        margin: 8% 0 0 10%;
    }
}

@media screen and (min-width: 690px) {
    section:nth-of-type(2) div {
        display: flex;
        justify-content: space-evenly;
        width: 85%;
        margin: auto;
    }
}
@media screen and (max-width: 1000px) {
    section:nth-of-type(2) div article:last-of-type {
        display: none;
    }
}
section:nth-of-type(2) article {
    margin: 3% 0;
}

/*section join us*/

section:nth-of-type(3) p {
    margin-bottom: 15%;
}

section:nth-of-type(3) a {
    background-color: var(--secondary-color);
    color: var(--text-color-white);
    padding: 20px 10px;
    box-shadow: 5px 5px 5px var(--secondary-color);
}

section:nth-of-type(3) a:hover {
    background-color: var(--secondary-color-dark);
    font-weight: bold;
}

/*section-création*/

section:last-of-type img {
    margin: 15% 0 5% 0;
}

section:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

section:last-of-type div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (min-width: 1000px) {
    section:last-of-type div {
        width: 100%;
        justify-content: space-around;
    }
}

section:last-of-type article {
    margin-bottom: 10%;
    width: 320px;
    padding: 20px;
}

section:last-of-type h3 {
    margin: 2% 0 5% 0;
}

section:last-of-type p {
    margin-bottom: 15%;
}

section:last-of-type a {
    background-color: var(--secondary-color);
    color: var(--text-color-white);
    padding: 10px 20px;
    box-shadow: 5px 5px 5px var(--secondary-color);
}
section:last-of-type a:hover {
    background-color: var(--secondary-color-dark);
    font-weight: bold;
}

@media screen and (min-width: 1000px) {
h2 {
    margin: 5% 0;
}
section:nth-of-type(3) p {
    margin-bottom: 10%;
  }
  section:last-of-type img {
    margin: 10% 0 0 0;
  }
}
@media screen and (min-width: 1200px) {

      section:last-of-type img {
        margin: 10% 0 2% 0;
      }
      section:last-of-type {
        padding-bottom: 5%;
      }
    }