/*général*/

main {
    text-align: center;
    background-color: var(--primary-color);
    padding-bottom: 10%;
}

h1 {
    padding: 8% 0;
}

h2 {
    margin: 8% 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    padding-bottom: 10%;
}

.mx-text {
    margin: 0 10%;
}

main a {
    text-decoration: none;
    color: #262524;
    width: min-content;
}

/*tuto*/

main section div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main section div img {
    border-radius: 10px;
}

main section div div {
    margin: 3% 0;
    width: fit-content;
    text-align: left;
    display: flex;
    flex-direction: column;
}

main section div div p {
    margin: 2% 3%;
}

main section div div p::after {
    content: " lire la suite";
    color: var(--secondary-color-dark);
}

/*sticky*/

.sticky {
    position: sticky;
    top: 0;
    background-color: var(--secondary-color);
    padding: 15px 0;
}

.list-inline {
    list-style: none;
    margin-left: -0.5em;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.list-inline>li:before {
    content: "\200B";
    position: absolute;
}

.list-inline a {
    text-decoration: none;
    color: var(--text-color-white);
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
}

html {
    scroll-behavior: smooth;
}

@media screen and (min-width: 1200px) {
    h2 {
        margin: 5% 0;
    }
}