* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*général*/

.mx-text {
    margin: 0 10%;
}

@media screen and (min-width: 1000px) {
    .mx-text {
        margin: 0 20%;
    }
}

main {
    text-align: center;
    background-color: var(--primary-color);
}

h1,
h2,
#promote {
    color: var(--secondary-color);
    font-family: 'Amatic SC', cursive;
}

h1 {
    font-size: 48px;
    padding: 8% 0;
}

h2 {
    font-size: 39px;
    margin: 10% 3%;
}

#promote {
    font-size: 36px;
    margin: 10% 3%;
}

section:nth-of-type(2) h2 {
    text-align: left;
}

p,
main li {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

main li {
    padding-bottom: 15px;
}

/*images de présentation*/
section:first-of-type p {
    margin-bottom: 5%;
}
.gallerie {
    display: flex;
    justify-content: space-between;
    max-width: 810px;
    margin: auto;
}

.gallerie div {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*section etape*/

#stepbystep article div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 8% 0;
}

@media screen and (min-width: 810px) {
    #stepbystep article div {
        margin: 4% 0;
    }
}

@media screen and (min-width: 1100px) {
    #stepbystep article div {
        margin: 2% 0;
    }
}

/*section matériel*/
@media screen and (min-width: 810px) {
    .mats h2 {
        margin: 5% 15%;
    }

    .mats ul {
        margin: 0 25%;
    }
}

@media screen and (min-width: 1200px) {
    .mats h2 {
        margin-left: 5% 25%;
    }

    .mats ul {
        margin-left: 0 35%;
    }
}

/*images section etape*/
figure {
    margin: 3% 0;
}

figcaption {
    text-align: left;
}

figure img {
    width: 95%;
}

#promote {
    text-align: center;
}

#promote a {
    text-decoration: none;
    color: var(--secondary-color-dark);
}

/*video*/

iframe {
    margin: 15% 0 20% 0;
}

@media screen and (min-width: 810px) {
    iframe {
        width: 600px;
        height: 400px;
    }
}

@media screen and (min-width: 1000px) {
    iframe {
        margin: 10% 0 15% 0;
    }
}