* {
    scrollbar-color: transparent transparent;
}

/*général*/

html {
    scroll-behavior: smooth;
}

main {
    text-align: center;
    background-color: var(--primary-color);
    padding-bottom: 10%;
}

h1 {
    padding: 8% 0;
}

h2 {
    margin: 8% 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    padding-bottom: 10%;
}

.mx-text {
    margin: 0 10%;
}

main a {
    text-decoration: none;
}

/*sticky*/

.sticky {
    position: sticky;
    top: 0;
    background-color: var(--secondary-color);
    padding: 15px 0;
    z-index: 999;
}

.list-inline {
    list-style: none;
    margin-left: -0.5em;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.list-inline>li:before {
    content: "\200B";
    position: absolute;
}

.list-inline a {
    text-decoration: none;
    color: var(--text-color-white);
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
}

/*carousel*/

main .container {
    display: flex;
    position: relative;
    top: 50%;
    width: 350px;
    height: 320px;
    overflow: hidden;
    margin: auto;
}

main .img-carou {
    position: relative;
    width: 350px;
    height: 320px;
    flex-shrink: 0;
}

main img {
    width: 320px;
    height: 280px;
    margin-top: 3%;
}

.next {
    position: absolute;
    top: 45%;
    right: 0;
}

.prev {
    position: absolute;
    top: 45%;
    left: 0;
}

figcaption {
    display: flex;
    justify-content: space-around;
}

figcaption p {
    padding: 0;
}

figure {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.container a {
    font-size: 3em;
    color: var(--text-color-white);
    font-weight: bold;
}

@media screen and (min-width: 810px) {
    main .container {
        width: 525px;
        height: 480px;
    }

    main .img-carou {
        width: 525px;
        height: 480px;
    }

    main img {
        width: 500px;
        height: 440px;
        margin-top: 3%;
    }
}

@media screen and (min-width: 1200px) {
    main .container {
        width: 630px;
        height: 576px;
    }

    main .img-carou {
        width: 630px;
        height: 576px;
    }

    main img {
        width: 580px;
        height: 500px;
        margin-top: 3%;
    }
}